#main-container {
    /* border: 1px solid red; */
    min-height: 100vh;
}

#sidebar-container {
    /* border: 1px solid green; */
    padding-top: 90px;
    height: 100vh;
    /* height: 180px; */
}

#sidebar {
    position: fixed;
    padding: 60px 0 0 0;
    min-height: 100%;

    font-size: 1.2em;

    /* border: 1px solid blue; */
}

#sidebar-title {
    text-transform: capitalize;
    font-weight: 700;
}

#sidebar-links {
    color: rgb(255, 255, 255);
}

#content-container {
    border: 1px solid orange;
    /* padding-top: 90px; */
    padding: 90px 0 0 0;
    color: white;
    /* height: 180px; */
    overflow: scroll;
}

#content {
    border: 1px solid red;
    padding: 0;
}

#carousel-container {
    border: 1px solid green;
    height: 80vh;
    width: 100%;
}

.movie-section {
    margin: 48px 0;
}

#now-playing {
    /* border: 1px solid red; */
}

.titles {
    /* height: 200px; */
    border: 1px solid red;
    padding: 0 !important;
    overflow: scroll;
    white-space: nowrap;
}

.title {
    border: 1px solid blue;
    height: 200px;
    width: 130px;
    display: inline-block;
    margin: 0 15px;
}

.movie-poster {
    height: 200px;
    width: 130px;
}