#main-container {
    min-height: 100vh;
}

#sidebar-container {
    /* position: fixed;
    top: 90px; */
    /* padding: 0; */
}

#sidebar {
    min-height: 100vh;
    padding: 60px 24px;
    font-size: 1.2em;
    background-color: rgb(14, 19, 30);
}

#sidebar-title {
    text-transform: capitalize;
    font-weight: 700;
}

.sidebar-icon {
    color: rgb(175, 177, 194);
}

.sidebar-link {
    display: block;
    font-size: 1.1em;
    padding: 8px 0;
    text-decoration: none !important;
    color: rgb(105, 108, 128);
}

.sidebar-link svg {
    margin-left: 20px;
}

.sidebar-link span {
    margin-left: 10px;
}

.sidebar-link:hover {
    color: rgb(175, 177, 194);
}

.is-active {
    background-color: rgb(28, 34, 49);
    color: rgb(175, 177, 194);
    border-radius: 50px;
}

#content-container {
    padding: 90px 0 0 0;
    color: white;
    overflow: scroll;
}

#content {
    padding: 0;
}

.carousel-meta {
    text-align: left;
}

.carousel-meta-name {
    font-size: 2em;
    font-weight: 600;
}

.about-movie-btn {
    border-radius: 40px;
    font-size: 1.2em;
    padding: 8px 24px;
    border: none;
    color: rgb(255, 255, 255);
}

.movie-section {
    padding-top: 90px;
}

button.slick-prev.slick-arrow::before,
button.slick-next.slick-arrow::before {
  font-size: 35px;
  opacity: .9;
}

.slick-slide > div {
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.7;
    transition: all .3s;
    cursor: pointer;
}

.slick-slide > div:hover {
    opacity: 1;
    transform: scale(1.1);
}

.slick-slide > div a {
    outline: none !important;
    color: white;
    text-decoration: none;
}

.title-img-container {
    position: relative;
}

.title-rating {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, .9);
    color: #ff2a55;
}

.title-rating i {
    font-size: .6em;
}
  
.title-img-container img {
    width: 100%;
    height: auto;
}

.title-name {
    margin: 5px 0px 0px 0px;
    color: #afb1c2;
    font-size: 1em;
    font-weight: 600;
}
  
.title-category {
    font-size: .8em;
}

.movie-poster {
    height: 200px;
    width: 130px;
}

#footer-container {
    margin-top: 140px;
    margin-bottom: 48px;
}

#movie-db-logo {
    height: auto;
    width: 140px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-indicators {
        visibility: hidden;
    }

    .carousel-meta {
        position: absolute;
        bottom: 0%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .carousel-meta-name {
        text-align: center;
        font-size: 1.4em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .carousel-indicators {
        visibility: hidden;
    }

    .carousel-meta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-meta-name {
        font-size: 1.6em;
        text-align: center;
    }
}
  
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #sidebar-container {
        position: fixed;
        top: 90px;
        padding: 0;
    }
  
    .carousel-indicators {
      visibility: visible;
    }

    .carousel-meta {
        display: block;
    }

    .carousel-meta-name {
        font-size: 1.6em;
        text-align: left;
    }
}
  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .carousel-img {
        height: 80vh;
    }
}
