#search-results-container {

}

#search-results-container > div {
    margin-left: 0;
    margin-right: 0;
}

.movie-apperance-link {
    text-decoration: none !important;
}

.movie-apperance {
    opacity: 0.7;
    transition: all .3s;
    cursor: pointer;
}

.movie-apperance:hover {
    opacity: 1;
    transform: scale(1.1);
}