#page-loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 13, 21);
}

#page-loader {
    height: 4em;
    width: 4em;
}

.animated-section {
    padding: 0;
}

.animated-section > div {
    padding: 0;
}

/* START: USED BY MovieSections.js and Movie.js */
button.slick-prev.slick-arrow::before,
button.slick-next.slick-arrow::before {
  font-size: 35px;
  opacity: .9;
}

.slick-next {
    right: -10px !important;
}

.slick-slide > div {
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.7;
    transition: all .3s;
    cursor: pointer;
}

.slick-slide > div:hover {
    opacity: 1;
    transform: scale(1.1);
}

.slick-slide > div a {
    outline: none !important;
    color: white;
    text-decoration: none;
}

.title-img-container {
    position: relative;
}

.title-rating {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, .9);
    color: #ff2a55;
}

.title-rating i {
    font-size: .6em;
}
  
.title-img-container img {
    width: 100%;
    height: auto;
}

.title-name {
    margin: 5px 0px 0px 0px;
    color: #afb1c2;
    font-size: 1em;
    font-weight: 600;
}
  
.title-category {
    font-size: .8em;
}
